.grid-section {
  grid-column: 2/4;
  width: 100%;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
}

.js [data-tab="content"] div {
  display: none;
}
[data-tab="content"] div.ativo {
  display: block !important;
}

[data-tab="content"] div.ativo.show-right {
  animation: show-rigth 0.5s forwards;
}

@keyframes show-rigth {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}

[data-tab="content"] div.ativo.show-down {
  animation: show-down 0.5s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.fadeInUp {
  transform: translate3d(0, 20px, 0);
}

.fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

[data-scroll="anime"] {
  opacity: 0;
}

[data-scroll="anime"].anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
}

.animais .imagens-animais {
  grid-column: 2;
  height: 380px;
  overflow-y: scroll;
}

.imagens-animais li {
  cursor: pointer;
}

.animais .imagens-animais::-webkit-scrollbar {
  background: #e1e1e1;
  width: 16px;
}

.animais .imagens-animais::-webkit-scrollbar-thumb {
  height: 30px;
  border-left: 4px solid #e1e1e1;
  border-right: 4px solid #e1e1e1;
  background-color: #fb2;
}

.especificacao-imagem {
  margin-bottom: 20px;
  grid-column: 3;
}

.especificacao-imagem > h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
  display: flex;
  align-items: center;
}

.especificacao-imagem > h2::before {
  content: "";
  display: inline-block;
  width: 3rem;
  background-color: #fb2;
  height: 0.7em;
  margin-right: 10px;
}

.especificacao-imagem > p {
  margin-bottom: 10px;
  font-family: Helvetica, Arial;
  line-height: 1.2;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media (max-width: 780px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-section {
    padding: 10px;
    gap: 10px;
    grid-template-columns: 100px 1fr;
  }

  .animais .imagens-animais {
    grid-column: 1;
  }

  .titulo {
    font-size: 4rem;
  }

  .especificacao-animais {
    grid-column: 2/5;
  }
}

@media (max-width: 600px) {
  .especificacao-imagem > p {
    font-size: 1rem;
  }

  .titulo {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .titulo {
    font-size: 2.85rem;
  }
  .especificacao-imagem > p {
    font-size: 0.88rem;
  }
}
