.faq .faq-lista {
  display: grid;
  grid-column: 80px 1fr;
  grid-column: 2/4;
}

.js [data-accordion="lista"] dd {
  display: none;
}

[data-accordion="lista"] dd.ativo {
  display: block;
  animation: slideDowm 0.5s forwards;
}

@keyframes slideDowm {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

.faq-lista > dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
  display: flex;
  align-items: center;
}

dt.ativo::after {
  content: "↴";
  display: inline-block;
  margin-left: 10px;
  transform: rotate(-180deg);
  transition: transform 0.3s;
}

dt::after {
  content: "↴";
  display: inline-block;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 0.7em;
  margin-right: 10px;
  background-color: #fb2;
}

.faq-lista > dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}


@media (max-width: 780px) {
  .faq .faq-lista {
    grid-column: 1/5;
  }
}