.numeros-grid {
  display: grid;
  grid-column: 2/4;
  padding-left: 10px;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.numeros-grid h3 {
  font-size: 2.5rem;
  font-family: "IBM Plex Mono", monospace;
  color: #222;
}

.numeros-grid span {
  font-size: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  color: chocolate;
}
@media (max-width: 780px) {
  .numeros-grid {
    grid-column: 1/-1;
  }
}

@media (max-width: 500px) {
  .numeros-grid h3 {
    font-size: 1.8rem;
  }.numeros-grid span {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .numeros-grid h3 {
    font-size: 1.5rem;
  }
  .numeros-grid span {
    font-size: 1.2rem;
  }
}
