.modal-container {
  position: fixed;
  top: -30px;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  z-index: 300;
  justify-content: center;
  align-items: center;
}

.modal-container.remove {
  display: none;
}

.modal {
  padding: 40px;
  border: 10px solid rgb(255, 187, 0);
  box-shadow: 0px 0px 0px 10px #fdfdfd;
  position: relative;
  width: 80vw;
  max-width: 600px;
  box-sizing: border-box;
}

.modal {
  animation: modal 0.4s forwards;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0px, -50px, 0);
  }
  to {
    opacity: 1;
    transform: matrix3d(0, 0, 0);
  }
}

.modal .formulario {
  display: flex;
  flex-direction: column;
}

.formulario label {
  font-size: 1.3rem;
  color: #333;
  z-index: 100;
  font-weight: bolder;
  font-family: "IBM Plex Mono", monospace;
  padding: 0.7rem 0rem 0.5rem 0rem;
}

.formulario input {
  padding: 0.7rem 0.5rem;
  width: 100%;
  border: 3px solid #666;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulario input:focus {
  border: 3px solid rgb(255, 187, 0);
  outline: none;
}

.fechar {
  position: absolute;
  top: -40px;
  border: none;
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  color: white;
  border: 4px solid #fff;
  border-radius: 50%;
  background: orangered url("../../img/arrows-svg/fechar.svg") no-repeat center;
  right: -30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
}

.formulario button[type="submit"] {
  display: inline-block;
  margin-top: 30px;
  border: none;
  background-color: orangered;
  border: 1px solid brown;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.7rem 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  width: 50%;
}

@media (max-width: 600px) {
  .modal {
    padding: 20px 12px;
    border: 8px solid rgb(255, 187, 0);
    box-shadow: 0px 0px 0px 8px #fdfdfd;
    position: relative;
    width: 80vw;
    max-width: 600px;
    box-sizing: border-box;
  }

  .formulario button[type="submit"] {
    margin-top: 20px;
    padding: 0.6rem 1.5rem;
  }

  .formulario input {
    padding: 0.6rem 0.5rem;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
